.bt {
  color: #ffffff;
  background-color: #4caf4f;
  border-radius: 0.8rem;

  font-size: 1.1rem;
  line-height: 1rem;
  text-align: center;
  &:hover {
    color: #4d4d4d;
  }
}

.bt-secondary {
  padding: 1.5rem 3rem 1.5rem 2.3rem;
}

.bt-heder {
  padding: 1.3rem 2.5rem 1.3rem 2.5rem;
}
